.target-enter-active{
    animation: targetAnim 1000ms ease-in-out;
   /* // background-color: teal; */
}

@keyframes targetAnim{
    0%{
        opacity:0;
        transform: translateX(-200px);
    }
    50%{
        opacity:.7;
        transform: translateX(30px);
    }
    100%{ opacity:1;
        transform: translateX(0);

    }
}